body {
    font-family: 'Raleway';
    background: #202026;
}
.custom-motorcycles ,.service-box , .service-list, .mobile-nav , .mobile-nav li , .parent-div , .wrapper , .cart  , .categories , .product-list , .main-content{
    display:flex;
    width: 100%;
}
.burger-icon {
    display: none;
    cursor: pointer;
}
.burger-icon span {
    display: none;
    height: 4px ;
    width:  30px;
    border-radius: 8px;
    background-color: burlywood;
    margin: 0 0 10px;
}
.mobile-nav{
    display: none;
    position: fixed;
    top: 0px;
    background: rgb(0 0 0 / 98%);
    right: -100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    top: 0px;
    transition:  0.7s ;
}
.mobile-nav ul{
    display: flex;
    flex-direction: column;
    top: 68px;
    position: absolute;
    right: 30%;
}
.mobile-nav li {
    color: #fff;
    font-size: 30px;
    flex-direction: column;
    padding: 13% 0;
    border-bottom: 1px solid white;
}
.burger-icon:hover .mobile-nav{
    display: block;
}
.burger-icon .authentication{
    position: absolute;
    top: 303px;
    right: 63%;
}
.mobile-authentication{
    display: block;
    top: 313px;
    position: absolute;
    right: 32%;
}
#x{
    right: 0px;
    position: absolute;
    padding: 1px 34px;
    cursor: pointer;
}





#container{
    display: none;
}
header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 4%;
    position: fixed;
    box-shadow: 0px 0px 16px 0px #ffffff75;
    backdrop-filter: blur(5px);
    z-index: 3;
}
.name {
    COLOR: WHITESMOKE;
    FONT-SIZE: 28px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

ul , .list,  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.336));
}
nav a {
    color: #ffffff;
    font-size: 33px;
    border-radius: 40px;
    padding: 5px 15px;
    transition: all  linear 0.2s ; 
    font-weight: 700;
}
nav a:hover{
    box-shadow: 0 0 4px 2px white;
}
.authentication img{
    filter: invert(1);
    width: 37px;
    margin-left: 16px;
}
.burger-menu {
    display: none;
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: 4;
    padding: 130px;
    backdrop-filter: brightness(0.1);
    right: -50px;
    top: 52px;
    transition: all  linear 0.2s ;
}
.burger-menu nav{
    position: relative;
}
.burger-menu nav ul {
    flex-direction: column;
}
.burger-menu nav li{
    padding-bottom: 10px;
}
.burger-menu .authentication img{
    position: relative;
}
/* slider */
.slides {
    position: relative;
}
.mySlides{
    position: relative;
    display: none;
    width: 100%;
    height: 1000px;
    animation: fade 0.3s linear;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-text{
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 14%;
    backdrop-filter: brightness(0.6);
    width: 100%;
    border-top: 2px solid #ffffff8f;
}
.banner-text h2 {
    font-size: 100px;
    backdrop-filter: blur(4px);
    padding-left: 4%;
}
.banner-text p {
    padding: 20px 44px;
    filter: drop-shadow(2px 4px 6px black);
}
.banner-text button {
    background-color: #0000001f;
    font-size: 22px;
    color: white;
    width: 185px;
    height: 54px;
    border: 3px solid #007FB4;
    margin: 12px 0 0 4%;
}
.dots {
    position: absolute;
    left: 50%;
    bottom: 82px;
    transform: translateX(-50%);
}
.dot{
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #928e8e52;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    border: 2px solid #1a2125;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 550px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.774);
}
.active , .dot:hover{
    background-color: #757575;
    border: 2px solid #007FB4;
}
/* about */
.about {
    background-image: url(../images/18e5f4_7d82d11a5ebe47248c8b42c730bc8bc7_mv2.webp);
    width: 100%;
    background-color: #1a212585;
    padding: 1% 4%;
    background-blend-mode: multiply;
    position: relative;
    top: 67px;
}
.background {
    background-image: url(../images/18e5f4_7d82d11a5ebe47248c8b42c730bc8bc7_mv2.webp);
    width: 90%;
    height: 620px;
    clip-path: polygon(69% 0%, 100% 0%, 78% 120%, 47% 120%);
    background-position: center;
    background-size: cover;
}
h3{
    font-size: 70px;
    padding-bottom: 4%;
    color: #007fb4 ;
    font-weight: bold;
}

.text-div {
    width: 95%;
    height: 90%;
    background-color: #9e9e9e3b;
    position: absolute;
    top: 31px;
    left: 30px;
    padding: 2% 53% 1% 2%;
    color: whitesmoke;
    font-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 21px;
    backdrop-filter: blur(55px);
}
.recent-projects h3{
    padding-left: 4%;
}
.recent-projects{
    width: 100%;
    background-color: #18181C;
    padding: 2% 0% 7%;
    margin: 7% 0% 0;
}
.projects{
    display: flex;
    width: 33.33%;
    flex-direction: column;
}
.project-hover{
    position: absolute;
    clip-path: polygon(0 59%, 33% 60%, 57% 86%, 0 86%);
    backdrop-filter: blur(5px);
    height: 425px;
    width: 133%;
    left: -3px;
    transition: 0.2s;
    background-color: #0000004a;
}
.model{
    position: absolute;
    bottom: 87px;
    left: 16px;
    width: 38%;
    font-size: 37px;
    color: #fefeff;
}
.projects:nth-child(1) .image{
    background-image: url(../images/360621.jpg);
}
.projects:nth-child(1):hover .image{
    background-image: url(../images/pexels-andrea-piacquadio-3855226.jpg);
}
.projects:nth-child(2) .image{
    background-image: url(../images/360770.jpg);
}
.projects:nth-child(2):hover .image{
    background-image: url(../images/MG_3278a-780x520.jpg);
}
.projects:nth-child(3) .image{
    background-image: url(../images/itl.cat_cafe-racer-wallpaper_2364372.png);
}
.projects:nth-child(3):hover .image{
    background-image: url(../images/dealers.jpg);
}
.dealers{
    background-image: url(../images/dealers.jpg);
    width: 48%;
    background-size: cover;
    background-position: center;
}
.service-list p{
    color: white;
    width: 48%;
    padding: 2%;
    font-size: 30px;
    font-weight: bold;
}
/* section 1-news */
.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4%;
    justify-content: space-around;
    background-color: #202026;
}
.child-box {
    width: 48%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-color: #928e8e;
    background-blend-mode: multiply;
    min-width: 450px;
    margin-top: 4%;
    cursor:pointer;
}
.child-box p{
    color: #e4e4e9;
    font-size: 100px;
    text-align: center;
    padding-top: 7%;
    font-weight: bold;
}
.child-box:nth-child(1) {
    background-image:url(../images/best-vintage-motorcycle-helmets.jpg);
}
.child-box:nth-child(2) {
    background-image:url(../images/b12960abe476862aff7247234fbe0eec.jpg);
} 
.child-box:nth-child(2) p{
    padding-bottom: 25%;
}
.main-block {
    width: 100%;
    background-color: #18181C;
    padding: 2% 4%;
    margin: 7% 0; 
}
.main-block::-webkit-scrollbar{
    display: none;
}
.service-box {
    justify-content: space-between;
    flex-wrap: wrap;
}
.image {
    background-image: url(../images/pexels-sourav-mishra-2317408.jpg);
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: all 0.2s;
    overflow: hidden;
    border-radius: 20px;
}
.services:nth-child(1) .image{
    background-image: url(../images/repair_motorcycle_hands_189488_1600x1200.jpg);
}
.services:nth-child(1):hover .image{
    background-image: url(../images/pexels-andrea-piacquadio-3855226.jpg);
}
.services:nth-child(2) .image{
    background-image: url(../images/18e5f4_0258c20eb1174f4f836d7cc8fd6a206c_mv2.webp);
}
.services:nth-child(2):hover .image{
    background-image: url(../images/MG_3278a-780x520.jpg);
}
.services:nth-child(3) .image{
    background-image: url(../images/engine.jpg);
}
.services:nth-child(3):hover .image{
    background-image: url(../images/dealers.jpg);
}
.services:nth-child(4) .image{
    background-image: url(../images/painting.jpg);
    background-position: center;
}
.services:nth-child(4):hover .image{
    background-image: url(../images/painting\ hover.jpg);
}
.image img {
    width: 100%;
    height: 300px;

}
.services {
    display: flex;
    width: 23%;
    flex-direction: column;
    margin: 13px;
}
.product-scroll .services{
    min-width: 321px;
}
.image:hover {
    background-image: url(../images/pexels-rachel-claire-4577448.jpg);
    box-shadow: 0px 0px 8px 0px steelblue;
}
.image:nth-child(2):hover{
    background-image: url(../images/repair_motorcycle_hands_189488_1600x1200.jpg);
}
.services .title {
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 30px;
}
.hover {
    position: absolute;
    clip-path: polygon(0 64%, 38% 64%, 54% 86%, 0 86%);
    height: 100%;
    width: 100%;
    padding: 8% 71% 80% 9%;
    left: -300px;
    transition: 0.2s;
    background-color: #00000080;
}
.hover p {
    position: absolute;
    bottom: 59px;
    left: 16px;
    width: 38%;
    font-size: 37px;
    color: #fefeff;
}
.services:hover .hover{
   left: 0px;
}
.text {
    display: flex;
    flex-direction: column;
    color: white;
}
.text h3 {
    font-size: 70px
}
/* custom-motorcycles */
.custom-motorcycles{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.right , .left{
    width: 50%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    transition: transform 0.7s;
    overflow: hidden;
}
.left:hover , .upper:hover , .lower:hover {
    transform: scale(1.1);
}
.left{
    background-image: url(../images/custom.jpg);
    z-index: 1;
}
.upper , .lower{
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.7s;
}
.upper{
    background-image: url(../images/accessories.jpg);
}
.lower{
    background-image: url(../images/parts.jpg);
}
.custom-motorcycles p {
    color: #007FB4;
    font-size: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    backdrop-filter: brightness(0.5);
    width: 100%;
    font-weight: bold;
}
/* products */
.products {
    width: 30%;
    background-color: #ffffff1a;
    margin: 0 17px 16px 0;
}
.products p {
    color: white;
    text-align: center;
    font-size: 50px;
}
.product-image {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: all 0.2s;
    overflow: hidden;
}
.products:nth-child(1) .product-image{
    background-image: url(../images/helmet.png);
}
.products:nth-child(1):hover .product-image{
    background-image: url(../images/AGV-RP60-Royal-Helmet.jpg);
}
.products:nth-child(2) .product-image{
    background-image: url(../images/jacket1.png);
}
.products:nth-child(2):hover .product-image{
    background-image: url(../images/jacket.jpg);
}
.products:nth-child(3) .product-image{
    background-image: url(../images/products-1.png);
}
.products:nth-child(3):hover .product-image{
    background-image: url(../images/gloves2.jpg);
}
/* contact  */
.contact {
    background-image: url(../images/pexels-sourav-mishra-2317408.jpg);
    width: 100%;
    background-color: #1a212557;
    background-size: cover;
    background-blend-mode: difference;
    background-attachment: fixed;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input ,textarea{
    width: 100%;
    height: 60px;
    margin: 11px 20px 1px 0;
    background-color: #f8f8f812;
    border: none;
    font-size: 21px;
    backdrop-filter: blur(13px);
    padding: 12px;
}
.forms{
    width: 50%;
    padding: 2% 4%;
    padding-right: 9%;
    min-width: 433px;

}
.description {
    width: 100%;
    height: 143px;
}
.map{
    width: 48%;
}
.input-background {
    padding: 20px;
}

.labels {
    font-size: 27px;
    color: white;
}
/* footer  */
footer {
    width: 100%;
    background-color: #18181C;
    color: white;
}
button:focus {
    border:2px solid #ececec;
    outline: none;
}
button p {
    font-size: 14px;
    margin-right: 5px;
}
.icon {
    padding: 2px;
}
.icon img {
    width: 17%;
}
.footerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 34px;
    flex-wrap: wrap;
}
#up{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: #fffffff7;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}
#up p {
    position: absolute;
    font-size: 32px;
    color: rgb(0, 0, 0);
    bottom: 21px;
    left: 29px;
}
#up img {
    position: absolute;
    width: 35px;
    bottom: 16px;
    right: 40px;
    transition: 0.5s;
}
#up:hover  img {
    bottom: 90px;
}
#loader {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: rotate 1s linear infinite;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px black);
}
.loaderlogo {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(2px 4px 6px black);
}
.rotate {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    box-shadow: 1px -20px 20px 0px rgb(255 255 255 / 50%);
    overflow: hidden;
}
/* .products-page */
.product-page{
    margin: 0;
    padding: 7% 4%;
}
/* product-list */
.wrapper{
    padding: 8% 4%;
}
.categories-filter{
    width: 30%;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2%;   
}
.categories-filter h4{
    font-size: 55px;
}
.categories-filter p{
    padding: 2% 0;
    font-size: 50px;
}
.right-block{
    width: 70%;
}
.price-filter{
    position: relative;
    width: 100%;
    left: 575px;
    color: white;
}
.product-list{
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width: 272px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #18181c;
    position: relative;
    height: 347px;
    margin: 20px 6px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 12px 0px bla
}
.item h4{
    margin: 11px;
    font-size: 20px;
}
.item p{
    margin: 0px 11px;
    font-size: 19px;
}

.discount{
    height: 237px;
    clip-path: polygon(0 0, 70% 0, 47% 14%, 0 14%);
    width: 100%;
    background-color: #5757ff;
    position: absolute;
    background-color: #61b5ff;
}
span{
    text-decoration: line-through;
    color: white;
}
.photo{
    width: 100%;
}
.basket{
    width: 23px;
    color: white;
    filter: invert(1);
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.main-content{
    padding: 8% 4% 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.image-side{
    width: 40%;
}
.description-side{
    width: 50%;
    padding-left: 5%;
}
.for-image{
    width: 100%;
}
.title{
    color: #ffffff;
}
.description-side p{
    display: inline-block;
    font-weight: 500;
}
.description-side h4{ 
    padding: 18px 0;
    font-size: 50px;
}
.cart{
    background-color: #0000001f;
    font-size: 22px;
    color: white;
    width: 229px;
    height: 55px;
    border: 3px solid #007FB4;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.description-side img{
    width: 30px;
    filter: invert(1);
}
#size{
    width: 20px;
    height: 30px;
    margin-left: 35px;
}
.related-products h3{
    padding-bottom: 4%;
    color: #cecece;
    text-align: center;
}
.product-scroll{
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
}
.helmets {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: all 0.2s;
    overflow: hidden;
    border-radius: 20px;
}
.services:nth-child(1) .helmets {
    background-image: url(../images/AGV-RP60-Royal-Helmet.jpg);
}
.services:nth-child(2) .helmets {
    background-image: url(../images/agvk3_sv_sakura_helmet_white_purple_750x750.jpg);
}
.services:nth-child(3) .helmets {
    background-image: url(../images/1.jpg);
}
.services:nth-child(4) .helmets {
    background-image: url(../images/agvk3_sv_sakura_helmet_white_purple_750x750.jpg);
}
.services:nth-child(5) .helmets {
    background-image: url(../images/AGV-RP60-Royal-Helmet.jpg);
}
.services:nth-child(6) .helmets {
    background-image: url(../images/agvk3_sv_sakura_helmet_white_purple_750x750.jpg);
}
.services:nth-child(7) .helmets {
    background-image: url(../images/1.jpg);
}
.services:nth-child(8) .helmets {
    background-image: url(../images/agvk3_sv_sakura_helmet_white_purple_750x750.jpg);
}


.product-scroll::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}
.product-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.product-scroll::-webkit-scrollbar-thumb {
    background: #007fb4;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes Slide {
    0% {
        top:-300px;
    }
    25% {
        top:0px;
    }
    75% {
        top:300px;
    }
    100% {
        top:300px;
    }
}
  @keyframes fade{
    from{
        filter: brightness(0);
    }
    to {
        filter: brightness(1);
    }
}
@media (max-width: 1570px){
    .services{
        width: 40%;
    }
    .right, .left{
        width: 100%;
    }
    
    .background{
        background-image: unset;
    }
    .text-div{
        font-size: 38px;
        padding: 2%;
    }
    .banner-text h2{
        font-size:60px ;
    }
}
@media (max-width: 1200px){
    .product {
        flex-direction: column;
        align-items: center;
    }
    .wrapper{
        flex-direction: column;
    }
    .right-block {
        width: 100%;
    }
    
}
@media (max-width: 930px){
    .services{
        width: 100%;
    }
    .authentication , nav{
        display: none;
    }
    .mobile-authentication{
        display: block;
    }
    .burger-icon , .mobile-nav{
        display: block;
    }
    .text-div{
        font-size: 35px;
        width: 93%;
        height: auto;
    }
    .about {  
        background-size: cover;
        
    }
    .projects{
        width: 100%;
    }
    
    .map{
        width:100%
    }
    .forms{
        width: 100%;
        min-width: 0;
    }
    .footer-icons{
        padding: 20px 0 20px 38px
    }
    .custom-motorcycles p{
        font-size: 45px;
    }
    .product {
        flex-direction: column;
        align-items: center;
    }
    .products{
        width: 100%;
    }
    .service-list{
        background-image: url(../images/dealers.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-color: #202026d6;
        background-blend-mode: darken;
        display: flex;
        justify-content: center;
    }
    .service-list p{
        width: 100%;
        padding: 4%;
    }
    .dealers{
        display: none;
    }
    .mySlides{
        height: 500px;
    }
    .banner-text{
        top: 14%;
    }
    .next , .prev{
        top: 200px;
        font-size: 22px;
    }
    
    
}
@media (max-width: 736px){
    .text-div{
        font-size: 25px;
        width: 89%;
    }
    .recent-projects{
        margin: 20% 0% 0;
    }
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .image-side {
        width: 100%;
    }
    .description-side {
        width: 100%;
        padding: 3% 1%;
    }
    .description-side h4 {
        font-size: 30px;
    }
}
/* galaxy fold  */
@media (max-width: 400px){
    .child-box{
        width: 100%;
        min-width: 0;
    }
    .child-box p{
        font-size: 46px;
    }
    .main-block h3{    
        font-size: 40px;
    }
    .banner-text h2 {
        font-size: 50px;
    }
    .text-div {
        font-size: 21px;
        width: 87%;
    }
    .recent-projects h3{
        font-size: 50px;
    }
}

